*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;

  transition: all 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955); /* easeInOutQuad */
  transition-timing-function: cubic-bezier(
    0.455,
    0.03,
    0.515,
    0.955
  ); /* easeInOutQuad */
}
