body {
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  .header-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;

    .header-subwrapper {
      width: 10rem;
      color: var(--logo-text);
      background-color: var(--logo-background);
    }
  }
}

main {
  min-height: 28rem;
  padding-inline: 15rem;
  .filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input-label-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
    }
    .interface-label-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: end;
      gap: 0.2rem;
    }
    .interface-input-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 0.2rem;
    }
  }

  .tasks-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 1rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  .information-wrapper {
    .title {
      font-size: 2rem;
      font-weight: 600;
    }

    width: 15rem;
    color: var(--logo-text);
    background-color: var(--logo-background);
  }

  .footer-copyright {
    width: 12rem;
    color: var(--logo-text);
    background-color: var(--logo-background);
    padding: 1rem;
    margin-top: 2rem;
  }

  .footer-copyright-trail {
    width: 8rem;
    color: var(--logo-text);
    background-color: var(--logo-background);
    padding: 0.3rem;
    margin-top: 0.8rem;
  }
}
